@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
}
label:not(.warning){
 
    font-size:1.4em;
    font-family: 'Roboto Condensed', sans-serif;
}
.warning{
  color:red;
}
.red{
  border: 1px solid red;
}
input{
    padding:5px;
    width:100%;
}
.select{
  width:100%;
  background-color: white;
}


.submit {
  background:gold;
  border-radius: 999px;
  box-shadow: gold 0 10px 20px -10px;
  box-sizing: border-box;
  color:black;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:1.2em;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 48px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}


/* Done Animation*/
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
 
  &.circle {
    -webkit-animation: dash 1.5s ease-in-out;
    animation: dash 1.5s ease-in-out;
   
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 1.5s 0.5s ease-in-out forwards;
    animation: dash 1.5s .35s ease-in-out forwards;
   
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 1.5s 0.5s ease-in-out forwards;
    animation: dash-check 1.5s 0.5s ease-in-out forwards;
    
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
  
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
