
<div style="" class="container-fluid">
    <div class="{{width >768 ?'row':'d-flex'}}"  style="overflow-x:scroll; max-width: 100vh;">
    <div class="col-4 col-md-12 mb-5 mt-3">
       <div class="col-12">
           <p class="header">Mobile Phone Price</p>
       </div>
       <div class="col-12 click">
           <p>Up To 999 Egp</p>
           <p>1000 To 1999 Egp</p>
           <p>2000 To 2999 Egp</p>
       </div>
    </div>
    <div class="col-4 col-md-12 mb-5">
       <div class="col-12">
           <p class="header">Mobile Phone Price</p>
       </div>
       <div class="col-12 click">
           <p>Up To 999 Egp</p>
           <p>1000 To 1999 Egp</p>
           <p>2000 To 2999 Egp</p>
           <p>3000 To 4999 Egp</p>
           <p>5000 To 7999 Egp</p>
           <p>8000 & Above Egp</p>
       </div>
    </div>
    <div class="col-4 col-md-12 mb-5">
       <div class="col-12">
           <p class="header">Operating System</p>
       </div>
       <div class="col-12">
           <div class="form-check">
               <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
               <label class="form-check-label" for="flexCheckChecked">
                Android 10.0
               </label>
             </div>
             <div class="form-check">
               <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
               <label class="form-check-label" for="flexCheckChecked">
                Android 11.0
               </label>
             </div>
             <div class="form-check">
               <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
               <label class="form-check-label" for="flexCheckChecked">
                Android 12.0
               </label>
             </div>
             <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                 Android 13.0
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                 Android 5.1
                </label>
              </div>
       </div>
    </div>
    <div class="col-4 col-md-12 mb-5">
        <div class="col-12">
            <p class="header">Screen Size</p>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                 Up to 3.9 in
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                 5 to 5.4 in
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                 5.5 in & Above
                </label>
              </div>
             
        </div>
     </div>
     <div class="col-4 col-md-12 mb-5">
        <div class="col-12">
            <p class="header">Phone Memory Storage</p>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                 Up to 3.9 Gb
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                 4Gb
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                 32Gb
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                 64Gb
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                 128Gb
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                 256Gb
                </label>
              </div>
             
        </div>
     </div>
    </div>
    </div>