@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.bg-primary{
    background-color:red;
}
.teko{
    color:#ffea03;
    font-family: 'Bebas Neue', sans-serif;
}
.card{
    color:white;
    background-image: linear-gradient(#100163,#550596);

}
