<section class="">
    <div class="container-fluid">
      <div class="row gy-4">
        <div class="col-lg-6">
          <div class="card-banner bg-gray  " style="height:50vh;
                                                        min-height: 200px;
                                                        background-size: cover;
                                                        background-position: center;
                                                        width: 100%;
                                                        background-repeat: no-repeat;
                                                        top: 50%;
                                                        background-image:linear-gradient(to right,rgba(0, 0, 0, 0.6),60%,rgba(0, 0, 0, 0)), url('assets/images/background/watch.jpg');">
            <div class="p-3 p-lg-5" style="max-width: 70%;">
              <h1 class="teko"style="color:gold;font-size:3em;">Best products & brands in our store at 80% off</h1>
              <p class="text-white">That's true but not always</p>
              <button class="btn btn-warning shadow-0 mt-5 teko text-black" style="width:8em;padding:5px;font-size:1.5em;" href="#"> Claim offer </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
        
          <div class="row mb-3 mb-sm-4 g-3 g-sm-4">
            <div class="col-6 d-flex">
              <div class="card w-100  " style="min-height: 200px;">
                <div class="card-body">
                  <h2 class="teko">Gaming toolset</h2>
                  <p class="">Technology for cyber sport</p>
                  <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
                </div>
              </div>
            </div>
            <div class="col-6 d-flex">
              <div class="card w-100 " style="min-height: 200px;background-color: #ffea03;">
                <div class="card-body">
                  <h2 class="teko">Quality sound</h2>
                  <p class="">All you need for music</p>
                  <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
                </div>
              </div>
            </div>
          </div>
          <!-- row.// -->
  
          <div class="card bg-success" style="min-height: 200px;">
            <div class="card-body">
              <h3 class="teko text-white">Buy 2 items, With special gift</h3>
              <p class="" style="max-width: 400px;">Buy one, get one free marketing strategy helps your business improves the brand by sharing the profits</p>
              <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <!-- col.// -->
    
      </div>
      <!-- row.// -->
    </div>
    <!-- container end.// -->
  </section>