<section class="hero">
    <div class="hero-inner">
        <div class="container-fluid">
            <div class="row">
                <h1>Talha Stores</h1>
            </div>
            <div class="row">
                <div class=" d-flex align-items-center justify-content-center col-md-6 col-12">
                    <h2>Shop smarter, not harder.</h2>
                </div>
                <div class="col-md-6 col-12 d-flex align-items-center">
                    <a href="https://example.com/" class="btn">Get Started</a>
                </div>
            </div>
        </div>
       
    </div>
</section>

