<section class="hero">
    <div class="hero-inner">
        <div class="container-fluid">
            <div class="row" style="">
                <h1>Incredible Prices <br/>on All Your &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <br/> Favorite Items &nbsp; &nbsp;</h1>
            </div>
            <div class="row" style="margin-left:4em">
                <div class=" d-flex align-items-center justify-content-start col-12">
                    <h4>Shop smarter, not harder.</h4>
                </div>
                <div class="col-12 mt-3 col-12 d-flex align-items-center justify-content-start">
                    <button class="button-18">Get Started</button>
                </div>
            </div>
        </div>
       
    </div>
</section>

