<div #tint class="tint   " id="tint">

</div>
<div class="main-navbar shadow-sm sticky-top" >
  <div class="top-navbar">
      <div class="container-fluid" >
          <div class="row" >
              <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
                  <h5 class="brand-name">Talha Store</h5>
              </div>
              <div class="col-md-5 my-auto" style="z-index:10;">
                  <form role="search">
                    <div class="wrapper" >
                        <div class="search-input " id="search_in">
                          <a href="" target="_blank" hidden></a>
                          <input #in id="input" (keydown)="keydown($event)" (focusin)="focus()" (focusout)="!hover?focusout():focus()" type="text" placeholder="Type to search..">
                          <div (mouseenter)="mosenter()" id="autocom"class="autocom-box"style="">
                           <li  (click)="nav(filter._name)" style="cursor: pointer;" *ngFor="let filter of filterp" >
                            {{filter._name}}
                           </li>
                          </div>
                          <div  class="icon"><i class="fas fa-search"></i></div>
                        </div>
                      </div>
                    
                  </form>
              </div>
              <div class="col-md-5 my-auto">
                  <ul class="nav justify-content-end">
                      <li class="nav-item">
                          <a class="nav-link " [routerLink]="['/cart']">
                            <i class="bi bi-cart2"></i> Cart ({{customer.cartcount}})
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                            <i class="bi bi-heart-fill"></i> Wishlist (0)
                          </a>
                      </li>
                      <li class="nav-item dropdown" *ngIf="valid">
                          <a class="nav-link dropdown-toggle "  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i> {{customer.name}}
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#"><i class="bi bi-person-lines-fill"style="font-size:1.5rem;padding-right:0.3rem;color:#8b04d4;"></i> Profile</a></li>
                          <li [routerLink]="['/orders']"><a class="dropdown-item" ><i class="bi bi-box2 "style="font-size:1.5rem;padding-right:0.3rem;color:#8b04d4;"></i> My Orders</a></li>
                          <li><a class="dropdown-item" href="#"><i class="bi bi-heart-fill"style="font-size:1.3rem;padding-right:0.3rem;color:#8b04d4;"></i> My Wishlist</a></li>
                          <li><a class="dropdown-item" href="#"><i class="bi bi-cart2"style="font-size:1.3rem;padding-right:0.3rem;color:#8b04d4;"></i> My Cart</a></li>
                          <li onclick="logout()"><a class="dropdown-item" ><i class="bi bi-box-arrow-left"style="font-size:1.3rem;padding-right:0.3rem;color:#8b04d4;"></i> Logout</a></li>
                          </ul>
                      </li>
                      <li class="nav-item" *ngIf="!valid">
                        <a class="nav-link " [routerLink]="['/login']">
                          <i class="bi bi-box-arrow-right"style="padding-right:3px;"></i>Login
                        </a>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <nav class="navbar navbar-expand-lg" style="z-index:-1;">
      <div class="container-fluid">
          <a class="navbar-brand d-block d-sm-block d-md-none d-lg-none" href="#">
              Funda Ecom
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" >
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">All Categories</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">New Arrivals</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Featured Products</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Electronics</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Fashions</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Accessories</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Appliances</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/supplierauth']">Admin</a>
                </li>
              </ul>
          </div>
      </div>
  </nav>
</div>