<div class="container-fluid">
    <div class="row">
        <div style="height:500px;" class="col-md-2">
         <div class="row mb-5 mt-3">
            <div class="col-12">
                <p class="header">Mobile Phone Price</p>
            </div>
            <div class="col-12 click">
                <p>Up To 999 Egp</p>
                <p>1000 To 1999 Egp</p>
                <p>2000 To 2999 Egp</p>
            </div>
         </div>
         <div class="row mb-5">
            <div class="col-12">
                <p class="header">Mobile Phone Price</p>
            </div>
            <div class="col-12">
                <p>Up To 999 Egp</p>
                <p>1000 To 1999 Egp</p>
                <p>2000 To 2999 Egp</p>
            </div>
         </div>
         <div class="row mb-5">
            <div class="col-12">
                <p class="header">Operating System</p>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                      Checked checkbox
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                      Checked checkbox
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                      Checked checkbox
                    </label>
                  </div>
            </div>
         </div>
        </div>
        <div style="height:500px;background-color: blue;" class="col-md-10">
         
        </div>
    </div>
</div>