<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-3 col-11 p-3 bg-white m-5" >
            <h3 style="color:black; font-weight: 600;">Enjoy Additional Saving</h3>
            <div class="row box mt-3">
                <div class="col-12 d-flex justify-content-center ">
                 <img src="assets/images/boxes/saving.jpg" style="width: 90%;height:90%;object-fit: fill;"/>
                </div>
                <div class="col-12 mt-3 now" >
                    <a>Shop Now</a>
                </div>
              </div>
          </div>
      <div class="col-md-3 col-11 p-3 bg-white m-5" >
        <h3 style="color:black; font-weight: 600;">Gaming & Accessories</h3>
        <div class="row box mt-3">
            <div class="col-12 d-flex justify-content-center ">
             <img src="assets/images/boxes/gaming.jpg" style="width: 100%;"/>
            </div>
            <div class="col-12 mt-3 now" >
                <a>Shop Now</a>
            </div>
          </div>
      </div>
      <div class="col-md-3 col-11 p-3 bg-white m-5" >
        <h3 style="color:black; font-weight: 600;">Tools & Home Improvment</h3>
        <div class="row box mt-3">
            <div class="col-12 d-flex justify-content-center ">
             <img src="assets/images/boxes/red.jpg" style="width: 100%;object-fit: contain;"/>
            </div>
            <div class="col-12 mt-3 now" >
                <a>Shop Now</a>
            </div>
          </div>
      </div>
    </div>
   </div>