@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@600&display=swap');

* {
    font-family: 'Mulish', sans-serif;

}
.functionbar{
    border-radius:0% 0% 10% 10% / 10% 10% 36% 36% ;
    padding: 5px;
    color:white;
    background-image: linear-gradient(#fad42d,#cca600);
   opacity: 0.9;
}
.functionbar .col-3{
    cursor: pointer;
    border-right: 1px solid white;
}
.functionbar i{
    font-size:2.5em;
}
.functionbar p{
    color:white;

    font-weight: 1000;
    font-family: 'Roboto Condensed', sans-serif;
    margin:0px;
    padding:0px;
    font-size:1em;
    
}
::-webkit-scrollbar {
    width: 3px;
    height:3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    border: solid 3px transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.search{
    padding:10px 20px;
}
.cat.active{
opacity: 1;
}
.cat:hover{
    opacity: 1;
}
.cat{
    transition: 0.2s;
    opacity: 0.7;
    cursor: pointer;
    background-image: linear-gradient(#ffe057,gold);
    background-color:whitesmoke;
    padding:2px 4px;
    border-radius: 25px;
    margin-bottom:25px;
}
.cat p:not(.num){
    white-space: nowrap;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}
.input-group p:not(.input-group p span){
    font-size: 1.1em;
    font-family: 'Roboto Condensed', sans-serif;
}
.cat .num{
    font-size:0.8em;
    color:#007185;
    font-weight: 600;
}
span:not(.cat span){
    color:#007185;
}

.container-fluid {}

.cardd {
    margin: 10px;
}

ul {
    list-style: none;
}

li {
    font-size: 1.5em;
    padding: 20px;
    background-color: white;
}

.fet {

    cursor: pointer;
    border-radius: 25px;
    font-size: 1.1em;
    padding: 5px;

    color: black;
}

.fet:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

.fet div span {
    font-size: 1.8em;
    font-family: 'Teko', sans-serif;
}