<div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <div class="col-md-5 p-3 " style="background-color:whitesmoke">
        <h3 style="color:black; font-weight: 600;">Sales On Electronics</h3>
        <div class="row box">
            <div class="col-6 p-3">
             <img src="assets/images/boxes/earphone.jpg"/>
            </div>
            <div class="col-6 p-3" >
              <img src="assets/images/boxes/powerbank.jpg"/>
            </div>
            <div class="col-6 p-3">
              <img src="assets/images/boxes/jbl.jpg"/>
            </div>
            <div class="col-6 p-3">
              <img src="assets/images/boxes/watch.jpg"/>
            </div>
          </div>
      </div>
      <div class="col-md-5 p-3 "style="background-color:whitesmoke">
        <h3 style="color:black; font-weight: 600;">Sales On Electronics</h3>
        <div class="row box">
          <div class="col-6 p-3">
           <img src="assets/images/boxes/1.jpg"/>
          </div>
          <div class="col-6 p-3" >
            <img src="assets/images/boxes/2.jpg"/>
          </div>
          <div class="col-6 p-3">
            <img src="assets/images/boxes/3.jpg"/>
          </div>
          <div class="col-6 p-3">
            <img src="assets/images/boxes/4.jpg"/>
          </div>
        </div>
      </div>
    </div>
   </div>