<div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-3 p-3 bg-white m-5" >
        <h3 style="color:black; font-weight: 600;">Sales On Electronics</h3>
        <div class="row box mt-3">
            <div class="col-6 ">
             <img src="assets/images/boxes/earphone.jpg"/>
            </div>
            <div class="col-6 " >
              <img src="assets/images/boxes/powerbank.jpg"/>
            </div>
            <div class="col-6 low">
              <img src="assets/images/boxes/jbl.jpg"/>
            </div>
            <div class="col-6 low">
              <img src="assets/images/boxes/watch.jpg"/>
            </div>
          </div>
      </div>
      <div class="col-md-3 p-3 bg-white m-5">
        <h3 style="color:black; font-weight: 600;">Sales On Electronics</h3>
        <div class="row box mt-3">
          <div class="col-6 ">
           <img src="assets/images/boxes/1.jpg"/>
          </div>
          <div class="col-6 " >
            <img src="assets/images/boxes/2.jpg"/>
          </div>
          <div class="col-6 low">
            <img src="assets/images/boxes/3.jpg"/>
          </div>
          <div class="col-6 low">
            <img src="assets/images/boxes/4.jpg"/>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-3 bg-white m-5" >
        <h3 style="color:black; font-weight: 600;">Sales On Electronics</h3>
        <div class="row box mt-3">
            <div class="col-6 ">
             <img src="assets/images/boxes/freebuds.jfif"/>
            </div>
            <div class="col-6 " >
              <img src="assets/images/boxes/fashion.jpg"/>
            </div>
            <div class="col-6 low">
              <img src="assets/images/boxes/golden watch.jpg"/>
            </div>
            <div class="col-6 low">
              <img src="assets/images/boxes/toaster.jpg"/>
            </div>
          </div>
      </div>
    </div>
   </div>