
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-9 card shadow " style="min-height:50vh;">
            <div class="col-12 d-flex align-items-start p-3">
                <p style="margin:0px;"><i style="font-size: 2em;color:darkblue;" class="bi bi-gear-fill"></i><span style="margin-left:0.5em;font-size:1.7em;">Products</span></p>
                
            </div>
            <hr/>
            <div class="row d-flex justify-content-center">

            
            <div class="col-md-5 cardd">

         <div class="row">
           
            <div class="row" style="margin-left:5px;">
        
                <div [routerLink]="['/products']" class="col-11 fet d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        
                        <i style="font-size: 1.2em;margin-right:10px;" class="bi bi-gear-wide"></i> <span>Add Products</span>
                    </div>
                    <div style="margin-right:10px;">
                        <i class="bi bi-plus-circle-dotted" style="font-size: 2em;"></i>
                    </div>
                    
                </div> 
                <hr style="margin-top:1em;margin-bottom: 1em;"/>
                <div (click)="openmodal()" style="" class="col-11 fet d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <i style="font-size: 1.2em;margin-right:10px;" class="bi bi-gear-wide"></i><span>Edit Or View Products</span>
                    </div>
                    <div style="margin-right:10px;">
                        <i class="bi bi-book" style="font-size: 1.7em;"></i>
                    </div>
                    
                </div> 
                <hr style="margin-top:1em;"/>
                <div style="" class="col-11 fet d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <i style="font-size: 1.2em;margin-right:10px;" class="bi bi-gear-wide"></i><span>Manage Discounts  <span style="color:limegreen;font-size:1.1em;">%</span></span>
                    </div>
                    <div style="margin-right:10px;">
                        <i class="bi bi-sliders2-vertical" style="font-size: 1.7em;"></i>
                    </div>
                    
                </div> 
            </div>
         </div>
        </div>

        <div class="col-md-5 cardd" >

            <div class="row">
              
               <div class="row" style="margin-left:5px;">
           
                   <div [routerLink]="['/products']" class="col-11 fet d-flex justify-content-between">
                       <div class="d-flex align-items-center">
                           
                           <i style="font-size: 1.2em;margin-right:10px;" class="bi bi-gear-wide"></i> <span>Manage Orders</span>
                       </div>
                       <div style="margin-right:10px;">
                           <i class="bi bi-truck" style="font-size: 2em;"></i>
                       </div>
                       
                   </div> 
                   <hr style="margin-top:1em;margin-bottom: 1em;"/>
                   <div style="" class="col-11 fet d-flex justify-content-between">
                       <div class="d-flex align-items-center">
                           <i style="font-size: 1.2em;margin-right:10px;" class="bi bi-gear-wide"></i><span>Edit Or View Products</span>
                       </div>
                       <div style="margin-right:10px;">
                           <i class="bi bi-book" style="font-size: 1.7em;"></i>
                       </div>
                       
                   </div> 
                   <hr style="margin-top:1em;"/>
                   <div style="" class="col-11 fet d-flex justify-content-between">
                       <div class="d-flex align-items-center">
                           <i style="font-size: 1.2em;margin-right:10px;" class="bi bi-gear-wide"></i><span>Manage Discounts  <span style="color:limegreen;font-size:1.1em;">%</span></span>
                       </div>
                       <div style="margin-right:10px;">
                           <i class="bi bi-sliders2-vertical" style="font-size: 1.7em;"></i>
                       </div>
                       
                   </div> 
               </div>
            </div>
           </div>
    </div>


        
        </div>
        <div class="col-md-9 card shadow mt-5 " style="min-height:50vh;">
            <div class="col-12 d-flex align-items-start p-3">
                <p style="margin:0px;"><i style="font-size: 2em;color:darkblue;" class="bi bi-person-circle"></i><span style="margin-left:0.5em;font-size:1.7em;">Profile</span></p>
                
            </div>
            <hr/>
            <div class="row d-flex justify-content-center">

            
            <div class="col-md-5 cardd">

         <div class="row">
           
            <div class="row" style="margin-left:5px;">
        
                <div [routerLink]="['/products']" class="col-11 fet d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        
                        <i style="font-size: 1.2em;margin-right:10px;" class="bi bi-gear-wide"></i> <span>Add Products</span>
                    </div>
                    <div style="margin-right:10px;">
                        <i class="bi bi-plus-circle-dotted" style="font-size: 2em;"></i>
                    </div>
                    
                </div> 
                <hr style="margin-top:1em;margin-bottom: 1em;"/>
                <div style="" class="col-11 fet d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <i style="font-size: 1.2em;margin-right:10px;" class="bi bi-gear-wide"></i><span>Edit Or View Products</span>
                    </div>
                    <div style="margin-right:10px;">
                        <i class="bi bi-book" style="font-size: 1.7em;"></i>
                    </div>
                    
                </div> 
                <hr style="margin-top:1em;"/>
                <div style="" class="col-11 fet d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <i style="font-size: 1.2em;margin-right:10px;" class="bi bi-gear-wide"></i><span>Manage Discounts  <span style="color:limegreen;font-size:1.1em;">%</span></span>
                    </div>
                    <div style="margin-right:10px;">
                        <i class="bi bi-sliders2-vertical" style="font-size: 1.7em;"></i>
                    </div>
                    
                </div> 
            </div>
         </div>
        </div>

        <div class="col-md-5 cardd" >

            <div class="row">
              
               <div class="row" style="margin-left:5px;">
           
                   <div [routerLink]="['/products']" class="col-11 fet d-flex justify-content-between">
                       <div class="d-flex align-items-center">
                           
                           <i style="font-size: 1.2em;margin-right:10px;" class="bi bi-gear-wide"></i> <span>Manage Orders</span>
                       </div>
                       <div style="margin-right:10px;">
                           <i class="bi bi-truck" style="font-size: 2em;"></i>
                       </div>
                       
                   </div> 
                   <hr style="margin-top:1em;margin-bottom: 1em;"/>
                   <div style="" class="col-11 fet d-flex justify-content-between">
                       <div class="d-flex align-items-center">
                           <i style="font-size: 1.2em;margin-right:10px;" class="bi bi-gear-wide"></i><span>Edit Or View Products</span>
                       </div>
                       <div style="margin-right:10px;">
                           <i class="bi bi-book" style="font-size: 1.7em;"></i>
                       </div>
                       
                   </div> 
                   <hr style="margin-top:1em;"/>
                   <div style="" class="col-11 fet d-flex justify-content-between">
                       <div class="d-flex align-items-center">
                           <i style="font-size: 1.2em;margin-right:10px;" class="bi bi-gear-wide"></i><span>Manage Discounts  <span style="color:limegreen;font-size:1.1em;">%</span></span>
                       </div>
                       <div style="margin-right:10px;">
                           <i class="bi bi-sliders2-vertical" style="font-size: 1.7em;"></i>
                       </div>
                       
                   </div> 
               </div>
            </div>
           </div>
    </div>


        
        </div>
      
    </div>
</div>
<editmodal #modal></editmodal>